

<div id="qbootstrap-couple" class="qbootstrap-section-gray">
    <div class="container">
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 animate-box">
          <div class="col-md-8 text-center section-heading svg-sm colored">
            <img src="assets/images/flaticon/svg/005-two.svg" class="svg" alt="Free HTML5 Bootstrap Template by QBootstrap.com">
            <h2>We Are Getting Married</h2>
            <h3>When</h3><p>September 18, 2021</p>
            <h3>Where</h3><p>Albemarle Estate - Charlottesville, VA</p>
            <a class="zola-registry-embed" href="https://www.zola.com/registry/bkwedding2021" data-registry-key="bkwedding2021">Our Zola Wedding Registry</a>
<script>
!function(e,t,n){var s,a=e.getElementsByTagName(t)[0];e.getElementById(n)||(s=e.createElement(t),s.id=n,s.async=!0,s.src="https://widget.zola.com/js/widget.js",a.parentNode.insertBefore(s,a))}(document,"script","zola-wjs");
</script>

 
          </div>
        </div>
      </div>
      
      <div id="qbootstrap-groom-bride" data-section="groom-bride">
        <div class="container">
          <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2">
              <div class="col-md-12 text-center section-heading svg-sm-2 colored">
                <img src="assets/images/snuggles.jpg" class="jpg" width="300" height="190" alt="Free HTML5 Bootstrap Template by QBootstrap.com">
                <h2>Day Of Wedding Details</h2>
                <p><b><u>Friday, September 17th</u></b></p>
                <div>
                  <p><b>7:00 p.m.</b>  Welcome party @ Old Metropolitan Hall. If you are arriving a day early, we would love to kick-off the celebration with you! All wedding guests are welcome!
                </p>
                </div>
                <p><b><u>Saturday, September 18th</u></b></p>
                  <div><p>
                            <b>4:15 p.m.</b>   Transportation will be provided from the Omni hotel to the wedding chapel. If you decide not to stay at the Omni hotel, we strongly recommend meeting the buses at the Omni and using the provided transportation. Parking is limited at the chapel and reception.
                            <br>
                            <br>
                            <b>5:00 p.m.</b>   Wedding cermony @ the chapel
                            <br>
                            <br>
                            <b>5:30 p.m.</b>   Cocktail hour @ the Grand Hall. Transportation provided from the chapel to Grand Hall.
                            <br>
                            <br>
                            <b>6:30 p.m.</b>   Wedding reception @ the Grand Hall. 
                            <br>
                            <br>
                            <b>11:00 p.m.</b>  Closing time. Transportation will be provided back to Omni hotel.
                          </p>
                        </div>
              </div>
            </div>
          </div>
      
    </div>
  </div>
