
<div id="qbootstrap-when-where" data-section="when-where">
    <div class="container">
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2">
          <div class="col-md-12 text-center section-heading svg-sm colored">
            <img src="assets/images/flaticon/svg/005-two.svg" class="svg" alt="Free HTML5 Bootstrap Template by QBootstrap.com">
            <h2>Ceremony &amp; Party</h2>
            <div class="row">
            <div class="col-md-10 col-md-offset-1 subtext">
              <h3>With pride and joy, we invite you to share a special day in our lives as we exchange marriage vows and begin our new life together…</h3>
            </div>
          </div>
          </div>
        </div>
      </div>
      <div class="row row-bottom-padded-md">
        <div class="col-md-6 text-center animate-box">
          <div class="wedding-events">
            <div class="ceremony-bg" style="background-image: url(assets/images/hotel.jpg);"></div>
            <div class="desc">
              <h3>Omni Charlottesville Hotel</h3>
              <div class="row">
                <div class="col-md-2 col-md-push-5">
                  <div class="icon-tip">
                    <span class="icon"><i class="icon-heart-o"></i></span>
                  </div>
                </div>
                <div class="col-md-5 col-md-pull-1">
                  <div class="date">
                    <i class="icon-calendar"></i>
                    <span>Friday</span>
                    <span>17 Sept 2021</span>
                  </div>
                  </div>
                  <div class="col-md-5 col-md-pull-1">
                    <div class="date">
                      <i class="icon-calendar"></i>
                      <span>Sunday</span>
                      <span>19 Sept 2021</span>
                </div>
              </div>
              <p>Room Block Available</p> 
              <p><a target="_blank" href="https://www.omnihotels.com/hotels/charlottesville/weddings/kennedy-barbee-wedding-09142021" class="btn btn-primary btn-sm">Reserve Hotel Rooms</a></p>
            </div>
          </div>
        </div>
      </div>




        <div class="col-md-6 text-center animate-box">
          <div class="wedding-events">
            <div class="ceremony-bg" style="background-image: url(assets/images/oldmet.jpg);"></div>
            <div class="desc">
              <h3>Old Metropolitan Hall</h3>
              <div class="row">
                <div class="col-md-2 col-md-push-5">
                  <div class="icon-tip">
                    <span class="icon"><i class="icon-heart-o"></i></span>
                  </div>
                </div>
                <div class="col-md-5 col-md-pull-1">
                  <div class="date">
                    <i class="icon-calendar"></i>
                    <span>Friday</span>
                    <span>17 Sept 2021</span>
                  </div>
                </div>
                <div class="col-md-5 col-md-pull-1">
                  <div class="date">
                    <i class="icon-clock2"></i>
                    <span>7:00 PM</span>
                    <span>10:00 PM</span>
                  </div>
                </div>
              </div>
              <p> <b>Address:</b> 101 E Main St, Charlottesville, VA 22902</p> 
              <p><a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=MjI1amo0cHRkOXEwZ2wzcG02YTc5cmdvZmggYXFlZWxuaXphckBt&amp;tmsrc=aqeelnizar%40gmail.com" class="btn btn-primary btn-sm">Add To Calender</a></p>
            </div>
          </div>
        </div>
        
        <div class="col-md-6 text-center animate-box">
          <div class="wedding-events">
            <div class="ceremony-bg" style="background-image: url(assets/images/wed-party.jpg);"></div>
            <div class="desc">
              <h3>Ceremony @ Estate Chapel</h3>
              <div class="row">
                <div class="col-md-2 col-md-push-5">
                  <div class="icon-tip">
                    <span class="icon"><i class="icon-heart-o"></i></span>
                  </div>
                </div>
                <div class="col-md-5 col-md-pull-1">
                  <div class="date">
                    <i class="icon-calendar"></i>
                    <span>Saturday</span>
                    <span>18 Sept 2021</span>
                  </div>
                </div>
                <div class="col-md-5 col-md-pull-1">
                  <div class="date">
                    <i class="icon-clock2"></i>
                    <span>4:30 PM</span>
                    <span>5:30 PM</span>
                  </div>
                </div>
              </div>
              <p><b>Address</b> 355 Albemarle house Drive, Charlottesville, VA 22902</p> 
              <p><a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=MjI1amo0cHRkOXEwZ2wzcG02YTc5cmdvZmggYXFlZWxuaXphckBt&amp;tmsrc=aqeelnizar%40gmail.com" class="btn btn-primary btn-sm">Add To Calender</a></p>
            </div>
          </div>
        </div>
        
        <div class="col-md-6 text-center animate-box">
          <div class="wedding-events">
            <div class="ceremony-bg" style="background-image: url(assets/images/reception.jpg);"></div>
            <div class="desc">
              <h3>Reception @ Grand Hall</h3>
              <div class="row">
                <div class="col-md-2 col-md-push-5">
                  <div class="icon-tip">
                    <span class="icon"><i class="icon-heart-o"></i></span>
                  </div>
                </div>
                <div class="col-md-5 col-md-pull-1">
                  <div class="date">
                    <i class="icon-calendar"></i>
                    <span>Saturday</span>
                    <span>18 Sept 2021</span>
                  </div>
                </div>
                <div class="col-md-5 col-md-pull-1">
                  <div class="date">
                    <i class="icon-clock2"></i>
                    <span>6:00 PM</span>
                    <span>11:00 PM</span>
                  </div>
                </div>
              </div>
              <p><b>Address</b> 355 Albemarle house Drive, Charlottesville, VA 22902</p>
              <p><a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=MjI1amo0cHRkOXEwZ2wzcG02YTc5cmdvZmggYXFlZWxuaXphckBt&amp;tmsrc=aqeelnizar%40gmail.com" class="btn btn-primary btn-sm">Add To Calender</a></p>
            </div>
          </div>
        </div>


      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="map" class="qbootstrap-map"></div>
        </div>
      </div>
    </div>
    </div>
  
